<div class="jumbotron white-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center mt-5">Coral reef</h1>
                <p class="mt-4">
                    A coral reef is an underwater ecosystem characterized by reef-building corals. Reefs are formed of
                    colonies of coral
                    polyps held together by calcium carbonate.[1] Most coral reefs are built from stony corals, whose
                    polyps
                    cluster in
                    groups.
                </p>
                <p class="mt-4">
                    Coral belongs to the class Anthozoa in the animal phylum Cnidaria, which includes sea anemones and
                    jellyfish. Unlike sea
                    anemones, corals secrete hard carbonate exoskeletons that support and protect the coral. Most reefs
                    grow
                    best in warm,
                    shallow, clear, sunny and agitated water. Coral reefs first appeared 485 million years ago, at the
                    dawn
                    of the Early
                    Ordovician, displacing the microbial and sponge reefs of the Cambrian.[2]
                </p>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <img style="height: 400px" src="../../../assets/images/coral5.jpeg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6" style="text-align: center;">
                <img style="height: 400px;margin-top: 100px" src="../../../assets/images/img2.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h1 class="text-center mt-2">Types</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fringing reef</li>
                    <p>A fringing reef, also called a shore reef, is directly attached to a shore, or borders it with an
                        intervening
                        narrow, shallow channel or lagoon.</p>
                    <li class="list-group-item">Barrier reef</li>
                    <p>
                        Barrier reefs are separated from a mainland or island shore by a deep channel or lagoon. They
                        resemble the later
                        stages of a fringing reef with its lagoon but differ from the latter mainly in size and origin.
                    </p>
                    <li class="list-group-item">Platform reef</li>
                    <p>
                        Platform reefs, variously called bank or table reefs, can form on the continental shelf, as well
                        as
                        in the open ocean,
                        in fact anywhere where the seabed rises close enough to the surface of the ocean to enable the
                        growth of zooxanthemic,
                        reef-forming corals.
                    </p>
                    <li class="list-group-item">Atoll</li>
                    <p>
                        Atolls or atoll reefs are a more or less circular or continuous barrier reef that extends all
                        the
                        way around a lagoon
                        without a central island
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <p class="text-center mt-3">Contents from WikiPedia</p>
</div>