<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Coral Reef News in the World</h2>
                    <!-- <p class="lead fw-normal text-muted mb-5">Papular News<br></p> -->
                    <br>
                </div>
            </div>
        </div>


        <div class="dropdown" *ngIf="showFilterButton">
            <button class="btn btn-custom btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{filterButtonName}}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="onFilterClicked('popular')">Papular</a></li>
                <li><a class="dropdown-item" (click)="onFilterClicked('random')">Random</a></li>
                <li><a class="dropdown-item" (click)="onFilterClicked('newest')">Newest</a></li>
                <li><a class="dropdown-item" (click)="onFilterClicked('oldest')">Oldest</a></li>
            </ul>
        </div> 

        <!-- It takes to retieve news via API call. So, show loading bar before distributing contents. -->
        <div class="text-center" *ngIf="showLoadingBar">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="row gx-5">
            <!-- Card 1 -->
            <div class="col-lg-4 mb-5" *ngFor="let article of articles">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top news-image-custom" src="{{article.urlToImage}}"
                        *ngIf="article.urlToImage != null" />
                    <img class="card-img-top news-image-custom" src="../../../assets/images/no_image_available.jpeg"
                        *ngIf="article.urlToImage == null" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                            *ngFor="let cat of article.category">
                            {{cat}}
                        </div>
                        <a class="text-decoration-none link-dark stretched-link" href="{{article.url}}">
                            <h5 class="card-title mb-3">{{article.title}}</h5>
                        </a>
                        <p class="card-text mb-0">{{article.description}}</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="text-muted">Published on {{article.publishedAt}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button type="button" class="page-link" tabindex="-1" (click)="onClickMore()"
                    *ngIf="showMoreButton">Load More</button>
            </li>
        </ul>
    </nav>
</section>