<img class="about-bg" src="assets/images/about_bg.jpg" />
<h1>About us</h1>
<div class="container">
  <h2>Cal or visit us today.</h2>
  <div class="content">
    <div class="left">
      <img src="assets/images/about_map.jpg" />
    </div>
    <div class="right">
      <div class="title">Contact information</div>
      <div>20 Exhibition Walk</div>
      <div>Clayton VIC 3168</div>
      <div>04321 80 677</div>
      <div style="margin-top: 20px">Monday - Friday: 9AM - 6PM</div>
      <div>Saturday: 10AM - 6PM</div>
      <div class="title">Email</div>
      <div>Kche0084@student.monash.edu</div>
    </div>
  </div>
</div>
