<!-- Ocean Acidification changes -->
<div style="text-align:center">
    <apx-chart
        [series]="phChartOptions.series"
        [chart]="phChartOptions.chart"
        [xaxis]="phChartOptions.xaxis"
        [title]="phChartOptions.title"
    ></apx-chart>
</div>

<span class="historical_explanation">
    Ocean acidification refers to a change in ocean chemistry in response to the uptake of carbon dioxide from the atmosphere. The amount of carbon dioxide in the atmosphere is in equilibrium with that in seawater, so when atmospheric concentrations increase so do oceanic concentrations. Carbon dioxide entering seawater reacts to form carbonic acid, causing an increase in acidity.
</span>
<br><br><br>

<!-- Carbon Dioxide changes -->
<div style="text-align:center">
    <apx-chart
        [series]="co2ChartOptions.series"
        [chart]="co2ChartOptions.chart"
        [xaxis]="co2ChartOptions.xaxis"
        [title]="co2ChartOptions.title"
    ></apx-chart>
</div> 

<span class="historical_explanation">
    Each year, the ocean absorbs about one-quarter of the carbon dioxide emitted from the burning of fossil fuels (oil, coal, and natural gas). Since the Industrial Revolution, ocean acidity has increased by about 30%, a rate that is more than 10 times what has previously occurred for millions of years. Further, ocean acidity levels are expected to increase by an additional 40% above present levels by the end of this century.
</span>

<br><br><br>

<br>
<!-- Ocean Temperautre changes-->
<div style="text-align:center">
    <apx-chart
        [series]="oceanTempChartOptions.series"
        [chart]="oceanTempChartOptions.chart"
        [xaxis]="oceanTempChartOptions.xaxis"
        [title]="oceanTempChartOptions.title"
    ></apx-chart>
</div>

<span class="historical_explanation">
    As atmospheric temperatures rise, so do seawater temperatures. This warming causes corals to lose the microscopic algae that produce food that corals need, placing stress on the corals. Without this algae coral also lose their coloration—a condition known as coral bleaching— because the loss of algae reveals the white color of the calcium carbonate structure underlying the polyps. Severe or prolonged bleaching can kill coral colonies or leave them more vulnerable to other threats such as infectious disease.
</span>

<br><br><br><br><br>