<p>climate-change works!</p>



<div style="text-align:center">
    <apx-chart
        [series]="phChartOptions.series"
        [chart]="phChartOptions.chart"
        [xaxis]="phChartOptions.xaxis"
        [title]="phChartOptions.title"
    ></apx-chart>
</div>

<div style="text-align:center">
    <apx-chart
        [series]="co2ChartOptions.series"
        [chart]="co2ChartOptions.chart"
        [xaxis]="co2ChartOptions.xaxis"
        [title]="co2ChartOptions.title"
    ></apx-chart>
</div>

<div style="text-align:center">
    <apx-chart
        [series]="oceanTempChartOptions.series"
        [chart]="oceanTempChartOptions.chart"
        [xaxis]="oceanTempChartOptions.xaxis"
        [title]="oceanTempChartOptions.title"
    ></apx-chart>
</div>