<!-- Jumbotron 1 -->
<div class="jumbotron">
    <h1>How Does Weather Relate to Ocean Temperature?</h1>
    <p class="container">
        An increase in the air temperature will cause water temperatures to increase as well. As water temperatures
        increase, water pollution problems will increase, and many aquatic habitats will be negatively affected.
    </p>
    <br>
    <p class="lead container">
        <a class="btn btn-secondary" role="button" routerLink="../climate-change"
            [queryParams]="{'title': 'Historical Data'}">
            Learn More About How Ocean Temperature Affects Coral Reef Ecosystem
        </a>
    </p>

    <br>
    <a class="container"
        href="https://oceanservice.noaa.gov/facts/coralwaters.html#:~:text=Reef%2Dbuilding%20corals%20cannot%20tolerate,%C2%B0%20Celsius)%20for%20short%20periods.">
        National Ocean Service
    </a>
</div>

<!-- Jumbotron 2 -->
<div class="jumbotron">
    <h1>What is an Optimal Air Temperature?</h1>
    <p class="container">
        According to our analysis, air temperature over 30°C will degrade corals significantly.
        <br>
        Optimal air temperature is between 24°C and 27°C.
    </p>
</div>

<!-- Jumbotron 3 -->
<div class="jumbotron">
    <div>
        <h1>Search for a Location!</h1>
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Location"
                (keyup)="onKeyUp()" [(ngModel)]="location">

            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04">
                    <option selected disabled>Choose...</option>
                    <option *ngFor="let geoCoding of geoCodings; let i = index" [ngValue]="i">
                        {{geoCoding.name}}, {{geoCoding.admin1}}
                    </option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="onClickGetForecast()">Get
                        Weather</button>
                </div>
            </div>
        </div>


        <!-- Map -->
        <div id="windy" *ngIf="showTempMap"></div>

        <!-- Forecast chart -->
        <div style="text-align:center" *ngIf="showChart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title"></apx-chart>
        </div>
    </div>
</div>