<!-- Jumbotron 1 -->
<div class="jumbotron">
    <h1>How Does Weather Relate to Ocean Temperature?</h1>
    <p class="container">
        An increase in the air temperature will cause water temperatures to increase as well. As water temperatures
        increase, water pollution problems will increase, and many aquatic habitats will be negatively affected.
    </p>
    <br>
    <p class="lead container">
        <a class="btn btn-secondary" role="button" routerLink="../climate-change" [queryParams]="{'title': 'Historical Data'}">
            Learn More About How Ocean Temperature Affects Coral Reef Ecosystem
        </a>
      </p>
</div>

<!-- Jumbotron 2 -->
<div class="jumbotron">
    <h1>What is an Optimal Air Temperature?</h1>
    <p class="container">
        According to our analysis, air temperature over 30°C will degrade corals significantly.
        <br>
        Optimal air temperature is between 24°C and 27°C.
    </p>
</div>

<!-- Jumbotron 3 -->
<div class="jumbotron">
    <div>
        <input type="text" [(ngModel)]="location" (keyup)="onKeyUp()" placeholder="Location">
    
        <select [(ngModel)]="dropDownSelected">
            <option [ngValue]="null" disabled>Select Location</option>
            <option *ngFor="let geoCoding of geoCodings; let i = index" [ngValue]="i">{{geoCoding.name}},
                {{geoCoding.admin1}}</option>
        </select>
    
        <br>
        <button (click)="onClickGetForecast()">Get Weather</button>
        
        <div id="windy" *ngIf="showTempMap"></div>
    
        <div style="text-align:center" *ngIf="showChart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title"></apx-chart>
        </div>
    
        <br><br><br>
    
        
    </div>
</div>