<div class="jumbotron white-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center mt-5">Supporting the environment</h2>
                <h1 class="text-center mt-5">Caring for coral</h1>
                <p class="mt-4">
                    Aramco is helping to rescue and rebuild important reefs in the coastal waters of the United States, the
                    Caribbean and
                    Mexico through grants by the National Fish and Wildlife Foundation’s Coral Reef Conservation Fund.
                </p>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <img style="height: 400px" src="../../../assets/images/caring.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6" style="text-align: center;">
                <iframe width="100%" height="466" src="https://www.youtube.com/embed/OIS10VBHGIE" title="Caring for Coral"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p class="mt-5" style="line-height: 35px;font-size: 18px;">
                    Coral reefs are home to numerous marine species and act as a natural barrier against coastal erosion for
                    countless
                    communities. Aramco is helping to rescue and rebuild important reefs in the coastal waters of the United
                    States, the
                    Caribbean and Mexico through grants by the National Fish and Wildlife Foundation’s (NFWF) Coral Reef
                    Conservation Fund.
                    Aramco supports grants in community-based efforts to improve the health and resilience of coral reefs in
                    Florida,
                    Hawai'i, Guam, American Samoa, and the Caribbean.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron white-background">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <h2 class="text-center mt-5">Complex Life Cycle of Corals</h2>
                <p class="mt-4">
                    The amount of new coral outplants that will be required for an effort the size of Mission Iconic Reefs, the
                    area of
                    about 64 football fields, is staggering. In the first phase of the restoration effort alone, the plan calls
                    for 235,479
                    coral outplants of different coral species, each with a diversity of genotypes to increase resilience. The
                    plan also
                    calls for 202,068 algae eating organisms like urchins and crabs to be added at each site to help the new
                    coral colonies
                    compete against their greatest competitor: macro-algae.
                </p>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <img style="width: 100%"
                    src="https://americas.aramco.com/-/media/aramcoasc/making-a-difference/coral-1-1440x810.jpg?w=1440&hash=737B6701A7E3FD75C1E24D7561D58D6720AA222B"
                    alt="">
            </div>
        </div>
    </div>
</div>



