<p>chart works!</p>

<input type="text" [(ngModel)]="location">

<select [(ngModel)]="selectedState">
    <option *ngFor="let state of states" [value]="state.name">{{state.abbr}}</option>
</select>

<button (click)="getWeather()">Get Weather</button>



<div>
    <ul>
        <li *ngFor="let day of resultDays">
            {{day.date}}
            <ul>
                <li>
                    Time | Air Temp | Water Temp
                </li>
            </ul>
            <ul>
                <li *ngFor="let hour of day.hour">
                {{hour.time}} | {{hour.temp_c}}°C | {{hour.water_temp_c}}°C
                </li>
            </ul>
        </li>
    </ul>
</div>