<!-- <p>chart works!</p>

<input type="text" [(ngModel)]="location">

<select [(ngModel)]="selectedState">
    <option *ngFor="let state of states" [value]="state.name">{{state.abbr}}</option>
</select>

<button (click)="getWeather()">Get Weather</button>
<button (click)="postTest()">POST</button>
<button (click)="getTest()">GET</button>

<iframe 
    width="1000" height="600"
    src="https://embed.windy.com/embed2.html?lat=-31.9523&lon=115.8613&detailLat=-33.665&detailLon=149.136&width=650&height=450&zoom=5&level=surface&overlay=sst&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" 
    frameborder="0">
</iframe>

<div>
    <ul>
        <li *ngFor="let forecastDay of forecastDays">
            {{forecastDay.date}}
            <ul>
                <li>
                    Time | Air Temp | Water Temp
                </li>
            </ul>
            <ul>
                <li *ngFor="let hour of forecastDay.hour">
                {{hour.time}} | {{hour.temp_c}}°C | {{hour.water_temp_c}}°C
                </li>
            </ul>
        </li>
    </ul>
</div> -->