<nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" routerLink="" [queryParams]="{'title': 'Home'}">Coral Reef</a> -->
        <a routerLink="" [queryParams]="{'title': 'Home'}">
            <img class="logo-custom" src="../../../assets/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-nav-custom ms-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="about" [queryParams]="{'title': 'About Us'}">About Us</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Live</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" routerLink="weather" [queryParams]="{'title': 'Weather Forecast'}">Weather</a></li>
                        <li><a class="dropdown-item" routerLink="news" [queryParams]="{'title': 'Coral News'}">News</a></li>
                    </ul>
                </li> 

                <!-- Drop down -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Library
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" routerLink="finding" [queryParams]="{'title': 'Analysis'}">Analysis</a></li>
                        <li><a class="dropdown-item" routerLink="search" [queryParams]="{'title': 'search'}">Search</a></li>
                        <li><a class="dropdown-item" routerLink="map" [queryParams]="{'title': 'Map'}">Map</a></li>
                        <li><a class="dropdown-item" routerLink="climate-change" [queryParams]="{'title': 'Historical Data'}">Historical data</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="!userInfo">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item dropdown" *ngIf="userInfo">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{userInfo}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a (click)="logout()" class="dropdown-item">log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>