<div>
<form action="">
    userName：<input name="username" type="text" [(ngModel)]="user.user_name"/>
    <br/>
   password： <input name="password" type="text" [(ngModel)]="user.user_pwd"/>
   <br/>
   confirm password： <input name="confirmPassword" type="password" [(ngModel)]="user.confirmPassword"/>
   <br/>
    <input name="name" type="text" [(ngModel)]="user.name"/>
    <input name="remark" type="text" [(ngModel)]="user.remark"/>
    <button (click)="register()">register</button>
  <button nbButton>Click me!</button>

</form>
</div>
